extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/new') Add a new message!
  .message-board 
    ul(style='list-style-type:none') 
      each message in messages
        -const messageStyling = {'border': '1px black solid', 'margin-bottom': '1rem', 'padding': '1rem', 'display': 'flex', 'flex-direction': 'column', 'gap': '1rem'} 
        li(style=messageStyling)
          -const usernameStyle = {'font-weight': 'bold'}
          .message-username(style=usernameStyle)= message.user + ':'
          -const textStyle = {'margin-left': '1rem'} 
          .message-text(style=textStyle)= message.text
          -const dateStyle = {'font-style': 'italic'}
          .message-date(style=dateStyle)= message.added
            